[defaults]
inventory = inventories/dev/hosts.yml
roles_path = roles
local_tmp = /tmp/steamroller-ansible-local
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
control_path_dir = /tmp/steamroller-ansible-cp
